name: Publish signing test packages

on:
  workflow_dispatch: {}

permissions:
  contents: read
  id-token: write

jobs:
  all-signed:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: prefix-dev/setup-pixi@v0.9.4
      - run: pixi run publish-all-signed

  last-version-unsigned:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: prefix-dev/setup-pixi@v0.9.4
      - run: pixi run publish-last-version-unsigned

  variants-unsigned:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: prefix-dev/setup-pixi@v0.9.4
      - run: pixi run publish-variants-unsigned
